<h1>Pirate</h1>
<div class="pirate">
<h3>Name</h3>
<p><%=@pirate.name%></p>
<h3>Weight</h3>
<p><%=@pirate.weight%></p>
<h3>Height</h3>
<p><%=@pirate.height%></p>
</div>

<h2>Ships</h2>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name:<%=ship.name%></p>
  <p>Type:<%=ship.type%></p>
  <p>Booty:<%=ship.booty%></p>
</div>
<%end%>

